*.o
*.a

.deps
.libs
config.h
config.h.in
configure
config.log
config.cache
config.status
config.guess
config.sub
aclocal.m4
stamp-h*
Makefile
Makefile.in
stamp-h.in
autom4te.cache
install-sh
missing
mkinstalldirs
depcomp
libtool
ltmain.sh

sfxload
setfx
sf2text
text2sf
gusload
sfxtest
awesfx
aweset
asfxload
agusload

include/awe_version.h
